Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

xcursor.theme: Bibata-Modern-Ice
xscreensaver.fade:   false
xscreensaver.unfade: false
! ===== urxvt =====
URxvt.scrollBar: off
URxvt.internalBorder:    22
URxvt.imLocale: en_US.UTF-8
URxvt.termName: xterm-256color
URxvt.font: xft:Iosevka Nerd Font Mono:size=12
URxvt.iso14755: false

! URxvt.perl-ext-common:default,resize-font
! URxvt.keysym.C-j:resize-font:smaller
! URxvt.keysym.C-k:resize-font:bigger
! URxvt.keysym.C-h:resize-font:reset
urxvt*depth:32
URxvt.cursorUnderline: true
URxvt.scrollBar_right: false
URxvt.letterSpace: 2

! =======color scheme==========

*background:#141720
*foreground:#ffffff
*cursorColor:#b48ead
*fading: 35
*fadeColor: #4C566A
*color0:#1a1a1a
*color1:#fc6c6d
*color2:#40bf80
*color3:#d9864d
*color4:#50afe9
*color5:#c577d7
*color6:#5698ac
*color7:#dfdfdf
*color8:#a6a6a6
*color9:#d8854d
*color10:#26734d
*color11:#ecbe7e
*color12:#8585ad
*color13:#cc6699
*color14:#46d9f9
*color15:#5b6268

